@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body {
  @apply bg-slate-800 text-slate-200 font-sans antialiased;
  height: var(--doc-height);
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#nprogress {
  @apply pointer-events-none z-50;
}
#nprogress .bar {
  @apply bg-brand-500 fixed z-50 top-0 left-0 w-full h-0.5;
}
