@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body {
  @apply bg-slate-800 text-slate-200 font-sans antialiased;
  height: var(--doc-height);
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
